@charset "UTF-8";

html,body {
    background-color: #fff;
    background-image: url(../images/bg.jpg);
    background-position: top;
    background-repeat: repeat-x;
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    height: 100%;
    line-height: 155%;
    margin: 0;
    padding: 0;

}

#container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    padding: 0;
    z-index: 0;
    width: 680px;
}

header {
    color: #fff;
    display: block;
    height: 91px;
    margin: 0 0 30px 0;
    width: 680px;
}

#logo {
    background-image: url(../images/logo.png);
    float: left;
    height: 90px;
    width: 384px;
}

#title {
    color: #777;
    float: right;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-top: 38px;
}

#mainBody {
    display: block;
    float: left;
    margin: 0 auto;
    width: 680px;
    background-color: #fff;
}


#mainBodyAdSpace {
    float: right;
    height: 575px;
    margin: 5px 0 5px 0;
    width: 680px;
}

footer {
    background-color: #303030;
    color: #777;
    font-size: 12px;
    height: 130px;
    line-height: 15px;
    margin: 50px 0 0 0;
    padding-top: 20px;
    text-align: center;
    width: 100%;
}
.articleSeparator {
    background-color: #ccc;
    height: 1px;
    margin: 5px 0 5px 0;
    width: 680px;
}


.stepNumber {
    background-color: #237800;
    border-radius: 20px; /* or 50% */
    color: white;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    -moz-border-radius: 20px; /* or 50% */
}

.stepNumberSmall {
    background-color: #237800;
    border-radius: 20px; /* or 50% */
    color: white;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-bottom: 5px;
    text-align: center;
    width: 20px;
    -moz-border-radius: 20px; /* or 50% */
}


.clearBoth {
    clear: both;
}





/*TEXT STYLES*/

h1 {
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 36px;
    line-height: 34px;
    margin: 0 0 10px 0;
}

h2 {
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

.articleFootnote {
    color: #666;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 15px 0 15px 0;
}





/*LINK STYLES*/
a:link {
    color: #e50002;
    font-weight: bold;
    text-decoration: none;
}
a:visited {
    color: #e50002;
}
a:hover {
    color: #006d89;
}



.footerLink:link {
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 0 3px 0 3px;
    text-decoration: none;
}
.footerLink:visited {
    color: #fff;
}
.footerLink:hover {
    color: #7ab2dc;
}



.buttonMore {
    background: -webkit-linear-gradient(#0087ac, #006b8b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0087ac, #006b8b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0087ac, #006b8b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0087ac, #006b8b); /* Standard syntax */
    border: 2px solid;
    border-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #375c28;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 7px 0 7px 0;
    width: 200px;
}
.buttonMore:hover {
    background: -webkit-linear-gradient(#006b8b, #0087ac); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#006b8b, #0087ac); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#006b8b, #0087ac); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#006b8b, #0087ac); /* Standard syntax */
}




/*IMAGE STYLES*/
.photo_paragraph_left {
    float: left;
    margin: 0 12px 0 0;
}

.photo_paragraph_top {
    float: right;
    margin: 18px 0 12px 12px;
}